<table class="mission-list">
  <thead>
    <tr>
      <th>Mission Name</th>
      <th>Launch Year</th>
      <th>Mission Patch</th>
      <th>Details</th>
      <th>Mission Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let launch of launches">
      <td>{{ launch.mission_name }}</td>
      <td>{{ launch.launch_year }}</td>
      <td><img [src]="launch.links.mission_patch_small" alt="Mission Patch" class="mission-image" /></td>
      <td>{{ launch.details }}</td>
      <td><app-missiondetails [flightNumber]="launch.flight_number"></app-missiondetails></td>
    </tr>
  </tbody>
</table>
