<div class="mission-list">
  <div *ngFor="let launch of launches">
    <div class="mission-card">
      <div class="mission-card-header">
        <h3>{{ launch.mission_name }}</h3>
        <p>Launch Year: {{ launch.launch_year }}</p>
      </div>
      <div class="mission-card-body">
        <img
          [src]="launch.links.mission_patch_small"
          alt="Mission Patch"
          class="mission-image"
        />
        <p><strong>Details:</strong> {{ launch.details }}</p>
      </div>
      <div class="mission-card-footer">
        <app-missiondetails [flightNumber]="launch.flight_number"></app-missiondetails>
      </div>
    </div>
  </div>
</div>
